<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>note</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/fetch/2.0.4/fetch.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
{% verbatim myblock %}
    <div id="app">
        <div class="login-class">

            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="用户账号" prop="name">
                    <el-input v-model="ruleForm.name"></el-input>
                </el-form-item>

                <el-form-item label="用户密码" prop="pwd">
                    <el-input type="password" v-model="ruleForm.pwd"></el-input>
                </el-form-item>

                <el-form-item class="login-button-class">
                    <el-button type="danger" @click="submitForm">登录</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
{% endverbatim myblock %}
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            ruleForm: {
                name: '',
                pwd: '',
            },
            rules: {
                name: [
                    {required: true, message: '请输入用户名称', trigger: 'blur'},
                    {min: 3, max: 20, message: '长度在 3 到 20 个字符', trigger: 'blur'}
                ],
                pwd: [
                    {required: true, message: '请输入用户密码', trigger: 'blur'},
                    {min: 3, max: 20, message: '长度在 3 到 20 个字符', trigger: 'blur'}
                ],
            }
        },
        methods: {
            submitForm() {
                this.$refs.ruleForm.validate((valid) => {
                    if (valid) {
                        alert('验证通过!');
                        this.login();
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },

            login() {
                fetch('/login', {
                    method: "POST",
                    body: JSON.stringify(
                        {'name': this.ruleForm.name, "pwd": this.ruleForm.pwd}
                    )
                }).then(response => {
                    return response.json()
                }).then(function(data){

                    if (true === data.success) {
                        app.$message({
                            message: "恭喜你，登录成功",
                            type: "success"
                        });
                    } else {
                        app.$message({
                            message: "很抱歉，登录失败",
                            type: "error"
                        });
                    }
                })
            }
        },

        mounted() {
            console.log(this.$refs.ruleForm);
        }
    });
</script>

<style>
    .login-class {
        width: 400px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    .login-button-class {
        text-align: right;
    }
</style>
</html>